
@{
    ViewBag.Title = "Manager";
}

<h2>Manager Page</h2>

<p>
    @Html.ActionLink("Manage Buildings", "Index", "Buildings")
</p>
<p>
    @Html.ActionLink("Manage Apartments", "Index", "Apartments")
</p>
<p>
    @Html.ActionLink("View Appointments", "Index", "Appointments")
</p>
<p>
    @Html.ActionLink("View Messages from Tenants", "Index", "Messages")
</p>

