
@{
    ViewBag.Title = "Admin";
}

<h2>Admin Page</h2>

<p>
    @Html.ActionLink("List of Property Managers", "ListManagers", "Users")
</p>
<p>
    @Html.ActionLink("List of Tenants", "ListTenants", "Users")
</p>
<p>
    @Html.ActionLink("View Messages from Managers", "Index", "Messages")
</p>

